AZURE_ENV_NAME=foundry-langgraph-hosted-agent-sample
AZURE_LOCATION=eastus2
AZURE_SUBSCRIPTION_ID=
AZURE_RESOURCE_GROUP=
IMAGE_NAME=claims-status-inquiry-agent
FOUNDRY_PROJECT_ENDPOINT=
AZURE_AI_MODEL_DEPLOYMENT_NAME=gpt-4.1
