AZURE_ENV_NAME=foundry-langgraph-hosted-agent-sample
AZURE_LOCATION=eastus2
AZURE_SUBSCRIPTION_ID=
AZURE_RESOURCE_GROUP=
IMAGE_NAME=claims-status-inquiry-agent
FOUNDRY_PROJECT_ENDPOINT=
AZURE_AI_MODEL_DEPLOYMENT_NAME=gpt-4.1
CONTAINER_APP_NAME=claims-foundry-agent
CONTAINER_APPS_ENVIRONMENT_NAME=claims-foundry-env
LOG_ANALYTICS_WORKSPACE_NAME=claims-foundry-logs
MANAGED_IDENTITY_NAME=claims-foundry-agent-mi
OPENAI_ACCOUNT_NAME=
CONTAINER_REGISTRY_NAME=claimsregistry
